#log {
    background-color: #4d88fd;
    color: #d9d9d9;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #292828;
    padding: 7px 15px;
    font-size: 14px;
    transition: 0.2s ease;
}

#log:hover {
    cursor: pointer;
    background-color: #3b7cff;
    box-shadow: 0 0 5px 5px #292828;
}