#arena {
    --arenaGap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--arenaGap);
    height: 100%;
    width: 100%;
}

#arena h1 {
    color: #d9d9d9;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-top: var(--arenaGap);
}

#arena .modal {
    top: 30%;
}

#tasks {
    display: flex;
    justify-content: center;
    color: var(--lighter);
    width: 100%;
}

#task-list {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: var(--arenaGap);
}

.task-entry {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid var(--lighter);
}

.add-task select {
    font-family: "Inter";
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    color: #d9d9d9;
    background-color: inherit;
    height: 25px;
    width: 100%;
}

.options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.low,
.medium,
.high {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    border-left: none;
}

.low::before {
    content: "\25C6";
    color: #3b7cff;
}

.medium::before {
    content: "\25C6";
    color: #ffdb5a;
}

.high::before {
    content: "\25C6";
    color: #9d1313;
}