@media only screen and (min-width: 1081px) {
    #arena h1 {
        margin-top: 20px;
    }

    #task-list {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }

    .task-entry {
        grid-template-columns: 90% 10%;
    }

    .add > .blue:hover {
        transform: translateX(5px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {

}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    #task-list {
        grid-template-columns: minmax(200px, 1fr);
    }

    .task-entry {
        grid-template-columns: 4fr 1fr;
    }

    #arena h1 {
        margin-top: 10%;
    }

    #arena {
        padding-bottom: 20px;
    }
}

#arena {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#arena h1 {
    color: var(--blk);
    font-size: 36px;
    width: 100%;
    text-align: center;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.add > .blue {
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--wht);
}

#arena .modal {
    top: 30%;
}

.add-task {
    background-color: var(--wht); 
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.add-task > .fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

fieldset div {
    width: 100%;
}

.project-btns {
    display: flex;
}

.project-btns > button {
    color: var(--wht);
    width: 100%;
    padding: 20px;
}

.project-btns > button:nth-child(1) {
    border-radius: 0 0 0 10px;
}

.project-btns > button:nth-child(2) {
    border-radius: 0 0 10px 0;
}

#tasks {
    width: 100%;
    padding: 0 5%;
}

#task-list {
    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
    gap: 20px;
}

.task-entry {
    display: grid;
    border-radius: 10px;
    background-color: var(--wht);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#task-title {
    padding-left: 5px;
}

.task-prop {
    padding: 20px;
}

.task-prop span {
    color: rgba(0, 0, 0, 0.35);
}

.task-prop:nth-child(1), .task-prop:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
} 

.add-task select {
    border: 1px solid rgba(77, 136, 253, 0.5);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.25);
    background-color: inherit;
    height: 25px;
    padding: 0 5px;
}

.task-icons {
    gap: 10px;
}

.task-icons > div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.task-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.low,
.medium,
.high {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.high-flag {
    color: #cf0000;
}

.medium-flag {
    color: #dcc200;
}

.low-flag {
    color: var(--trt);
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--wht);
    background-color: var(--trt);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s ease;
}

.project:hover {
    backface-visibility: visible;
    transform: scale(0.98);
    cursor: pointer;
}