#arena {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#arena h1 {
    font-size: 36px;
    text-align: center;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.add > .blue {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--wht);
    box-shadow: 0 0 4px 0 rgba(20, 20, 20, 0.8) inset;
}

#tasks {
    width: 100%;
}

#task-list {
    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
    gap: 20px;
}

.task-entry {
    display: grid;
    border-radius: 10px;
    background-color: var(--wht);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#task-title {
    padding-left: 5px;
}

.task-prop {
    padding: 20px;
}

.task-prop span {
    color: rgba(0, 0, 0, 0.35);
}

.task-prop:nth-child(1), .task-prop:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
} 

.task-icons {
    gap: 10px;
}

.task-icons > div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.task-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.low,
.medium,
.high {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.high-flag {
    color: #cf0000;
}

.medium-flag {
    color: #dcc200;
}

.low-flag {
    color: var(--trt);
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--wht);
    background-color: var(--trt);
    box-shadow: 0 0 4px 0 rgba(20, 20, 20, 0.8) inset;
    border-radius: 10px;
    padding: 10px 20px;
    min-height: 75px;
    transition: 0.3s ease;
}

.blue {
    background-color: var(--trt);
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--grn);
}

.icon, .flag {
    fill: currentColor;
    width: 18px;
    height: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.1s ease;
}

.done {
    color:  var(--grn);
}

.edit {
    color: var(--trt);
    display: flex;
    align-items: center;
    gap: 10px;
}

@media only screen and (min-width: 1081px) {
    #tasks {
        margin-top: 2%;
        padding: 0 10%;
    }

    #task-list {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }

    .task-entry {
        grid-template-columns: 90% 10%;
    }

    .project:hover {
        backface-visibility: visible;
        transform: scale(0.98);
        cursor: pointer;
    }
    
    .p-icon:hover {
        background-color: var(--pri);
        color: black;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    #arena h1 {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 1080px) {
    #tasks {
        padding: 0 5%;
    }

    #task-list {
        grid-template-columns: minmax(200px, 1fr);
        gap: 10px;
    }

    .task-entry {
        grid-template-columns: 4fr 1fr;
    }

    #arena {
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    #arena h1 {
        margin-top: 10%;
    }
}