.add {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.plus {
    font-size: 14px;
    padding: 7px 15px;
    box-shadow: 0 0 3px 1px #292828;
}

.plus:hover {
    box-shadow: 0 0 3px 2px #292828;
}