#sidebar {
    background-color: #606060;
    color: #FFDB5A;
    border-right: 1px solid #FFDB5A;
    padding: 20px;
}

#categories, #projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#categories {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #FFDB5A;
}

.category {
    opacity: 0.6;
    transition: 0.2s ease;
}

.category:hover {
    cursor: pointer;
    opacity: 1;
}

#projects {
    padding: 20px 0 0 0;
}