@media only screen and (min-width: 1081px) {
    .category:hover {
        cursor: pointer;
    }

    #categories {
        display: flex;
        justify-content: center;
    }

    #categories ul {
        gap: 10px;
        width: 25%;
    }

    #categories ul li {
        border-radius: 10px;
        padding: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {

}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    #categories ul li {
        padding: 8% 0;
    }
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#categories ul {
    display: flex;
    justify-content: space-around;
}

#categories ul .active {
    background-color: var(--trt);
    color: var(--wht);
}

#categories ul li {
    background-color: var(--wht);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    text-align: center;
}

#projects {
    padding: 20px 0 0 0;
}