#modal {
    display: block;
    position: absolute;
    top: 25%;
    background-color: #393939;
    --offwhite: #d9d9d9;
    box-shadow: 0 0 2px 3px #2c2b2b inset;
    padding: 30px;
    border-radius: 20px;
}

span:hover {
    cursor: pointer;
}

#tabs {
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    font-size: 14px;
    gap: 20px;
}

fieldset {
    display: flex;
    gap: 20px;
}


label {
    display: block;
    color: var(--offwhite);
    padding: 5px 0;
}

input {
    color: var(--offwhite);
    background-color: #393939;
    appearance: none;
    border: 1px solid var(--offwhite);
    border-radius: 5px;
    height: 25px;
}

input:focus {
    outline: none;
    border: 1px solid #FFDB5A;
}

#btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#cont, #cancel, span {
    color: var(--offwhite);
}

#cont, #cancel {
    box-shadow: 0 0 3px 3px #292828;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease;
    font-size: 14px;
}

#cont:hover, #cancel:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 5px #292828;
}

#cont {
    background-color: #3b7cff;
}

#cancel {
    background-color: #FD4D4D;
}