/* for desktops - media query needed for mobile */
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter/static/Inter-Regular.ttf), format("ttf"),
    url(./fonts/Inter/static/Inter-Bold.ttf), format("ttf");
}

:root {
  --lighter: #D9D9D9;
  --light: #606060;
	--med: #4A4949;
  --dark: #393939;
  --font: "Inter";
  background-color: var(--med);
  letter-spacing: -0.75px;
}

.App {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  height: 100vh;
}

header, #sidebar, #arena, footer, button {
  font-family: var(--font);
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--dark);
  z-index: 1;
  width: 100%;
  padding: 10px;
}

.modal {
  display: block;
  position: absolute;
  background-color: var(--dark);
  box-shadow: 0 0 2px 3px #2c2b2b inset;
  padding: 30px;
  border-radius: 20px;
}

#modal fieldset {
  display: flex;
  gap: 20px;
}


.modal label {
  display: block;
  color: var(--lighter);
  padding: 5px 0;
}

.modal input {
  color: var(--lighter);
  background-color: #393939;
  appearance: none;
  border: 1px solid var(--lighter);
  border-radius: 5px;
  height: 25px;
}

.modal input:focus {
  outline: none;
  border: 1px solid #FFDB5A;
}

form {
  color: var(--lighter);
  font-size: 14px;
}

#log {
  background-color: #4d88fd;
  color: var(--lighter);
  border: none;
  border-radius: 5px;
  transition: 0.2s ease;
}

.add span {
  color: var(--lighter);
}

.plus {
  font-size: 20px;
  padding: 7px 14px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #424242 inset;
  color: #292828;
  background: none;
  transition: 0.3s ease;
}

.plus:hover {
  background-color: #656565;
  cursor: pointer;
}

#log:hover {
  cursor: pointer;
  background-color: #3b7cff;
}

.cancel {
  box-shadow: 0 0 3px 3px #292828;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease;
  font-size: 14px;
}

.cancel:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 5px #292828;
}

.cancel {
  color: var(--lighter);
  background-color: #FD4D4D;
}

header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}

#arena {
  grid-area: content;
}

footer {
  grid-area: footer;
}