/* for desktops - media query needed for mobile */
:root {
	background-color: #4A4949;
}

.App {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 0.5fr 5fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  height: 100vh;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #393939;
  z-index: 1;
  width: 100%;
  padding: 10px;
}

header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}

#arena {
  grid-area: content;
}

footer {
  grid-area: footer;
}