/* for desktops - media query needed for mobile */
@font-face {
  font-family: "Cabin";
  src: url(./fonts/Cabin/Cabin-Regular.ttf), format("ttf"),
    url(./fonts/Cabin/Cabin-Bold.ttf), format("ttf");
}

:root {
  --blk: #000000;
  --wht: #FFFFFF;
  --pri: #ECF3F7;
  --trt: #4D88FD;
  --font: "Cabin";
  background-color: var(--pri);
  letter-spacing: -0.75px;
  min-width: 300px;
}

.App {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar sidebar"
    "content content";
  grid-template-rows: 0.15fr 0.15fr 1fr;
  height: 100vh;
}

header, #sidebar, #arena, button {
  font-family: var(--font);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1;
  width: 100%;
  padding: 10px;
}

.project-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

input, select {
  font-family: "Inter";
  font-size: 14px;
  letter-spacing: -0.75px;
  width: 100%;
}

.modal {
  display: block;
  position: absolute;
  background-color: var(--dark);
  box-shadow: 0 0 2px 3px #2c2b2b inset;
  padding: 30px;
  border-radius: 20px;
}

.modal fieldset {
  display: flex;
  gap: 20px;
}


.modal label {
  display: block;
  color: var(--lighter);
  padding: 5px 0;
}

.modal input {
  color: var(--lighter);
  background-color: #393939;
  appearance: none;
  border: 1px solid var(--lighter);
  border-radius: 5px;
  height: 25px;
}

.modal input:focus {
  outline: none;
  border: 1px solid #FFDB5A;
}

form {
  color: var(--lighter);
  font-size: 14px;
}

.add span {
  color: var(--lighter);
}

.plus {
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #424242 inset;
  background: none;
  transition: 0.3s ease;
}

.plus:hover {
  background-color: #656565;
  cursor: pointer;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s ease;
  letter-spacing: -0.75px;
}

button:hover {
  cursor: pointer;
}

.blue {
  background-color: var(--trt);
}

.confirm {
  border: 1px solid green;
}

.confirm:hover {
  background-color: green;
}

.cancel {
  border: 1px solid #9d1313;
}

.cancel:hover {
  background-color: #9d1313;
}

header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}

#arena {
  grid-area: content;
}

.icon {
  color: var(--lighter);
  fill: currentColor;
  width: 18px;
  height: 18px;
  padding: 10px;
  border-radius: 5px;
}

.icon:hover {
  background-color: #7d7d7d;
  cursor: pointer;
}

.remove {
  color:  #53DA53;
}

.edit {
  color: #6196ff;
}